<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ProxyTrusteeApp" />
                <rule name="ProxyTrusteeApp" enabled="false">
                    <match url="^trustee/(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> -->

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- Rule 1: Exact match for /trustee
        <rule name="RewriteTrusteeRoot" stopProcessing="true">
          <match url="^trustee/?$" />
          <action type="Rewrite" url="http://localhost:3000/trustee/" />
        </rule>

        <!-- Rule 2: Proxy all other trustee/* URLs -->
        <rule name="ProxyTrusteeApp" stopProcessing="true">
          <match url="^trustee/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/trustee/{R:1}" appendQueryString="true" />
        </rule> -->
        <rule name="BrokenRule">
  <match url="^broken$" />
  <action type="Rewrite" url="http://localhost:3000/thisshouldbreak" />
</rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
