<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RewriteTrusteeRoot" stopProcessing="true">
          <match url="^trustee/?$" />
          <action type="Rewrite" url="http://localhost:3000/trustee/" appendQueryString="true" />
        </rule>

        <rule name="ProxyTrusteeApp" stopProcessing="true">
          <match url="^trustee/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/trustee/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
