<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />

        <rule name="RewriteTrusteeRoot" stopProcessing="true">
          <match url="^trustee/?$" />
          <serverVariables>
            <set name="HTTP_X_WINDOWS_USER" value="{LOGON_USER}" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:3002/trustee/" appendQueryString="true" />
        </rule>

        <rule name="ProxyTrusteeApp" stopProcessing="true">
          <match url="^trustee/(.*)" />
          <serverVariables>
            <set name="HTTP_X_WINDOWS_USER" value="{LOGON_USER}" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:3002/trustee/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
